Photos/917086418434_status_568dd1cd88a2479f9398fd8d092ce88a.jpg
Photos/918527213953_status_1ade5be498494db09811478293f32cc2.jpg
Photos/IMG_0299.jpg
Photos/IMG_0996.jpg
Photos/IMG_0998.jpg
Photos/IMG_0999.jpg
Photos/IMG_1001.jpg
Photos/IMG_1002.jpg
Photos/IMG_20180302_130002.jpg
Photos/IMG_20180329_111805.jpg
Photos/IMG_20180329_112436.jpg
Photos/IMG_20180817_212751.jpg
Photos/IMG_20180817_212759.jpg
Photos/IMG_20180817_213012.jpg
Photos/IMG_20180907_181729.jpg
Photos/IMG_20180907_181844.jpg
Photos/IMG_20181120_180736.jpg
Photos/IMG_20200205_205042.jpg
Photos/IMG_20200306_190015.jpg
Photos/IMG_20200313_230853.jpg
Photos/IMG-20171112-WA0001.jpg
Photos/IMG-20190914-WA0001.jpg
Photos/IMG-20191013-WA0000.jpg
Photos/IMG-20191101-WA0002.jpg
Photos/IMG-20191105-WA0000.jpg
Photos/IMG-20191105-WA0001.jpg
Photos/IMG-20200204-WA0001.jpg
Photos/IMG-20200204-WA0005.jpg
Photos/IMG-20200204-WA0007.jpg
Photos/IMG-20200204-WA0008.jpg
Photos/IMG-20200204-WA0009.jpg
Photos/IMG-20200204-WA0010.jpg
Photos/IMG-20200204-WA0013.jpg
Photos/IMG-20200204-WA0024.jpg
Photos/IMG-20200204-WA0025.jpg
Photos/IMG-20200217-WA0000.jpg
Training/Behnu/WIN_20200516_21_19_55_Pro.jpg
Training/Behnu/WIN_20200516_21_20_05_Pro.jpg
Training/Behnu/WIN_20200516_21_20_09_Pro.jpg
Training/Behnu/WIN_20200516_21_20_11_Pro.jpg
Training/Behnu/WIN_20200516_21_20_17_Pro.jpg
Training/Behnu/WIN_20200516_21_20_21_Pro.jpg
Training/Behnu/WIN_20200516_21_20_23_Pro.jpg
Training/Nisha/Capture.PNG
Training/Nisha/IMG-20200204-WA0001.jpg
Training/Nisha/IMG-20200204-WA0007.jpg
Training/Nisha/IMG-20200204-WA0013.jpg
Training/Nisha/WhatsApp Image 2020-04-27 at 9.08.13 PM.jpeg
Training/Nisha/WhatsApp Image 2020-04-27 at 9.11.33 PM.jpeg
Training/Prashant/9.jpg
Training/Prashant/12.jpg
Training/Prashant/14.jpg
Training/Prashant/23.jpg
Training/Prashant/32.jpg
Training/Prashant/39.jpg
Training/Pro/19.jpg
Training/Pro/26.jpg
Training/Pro/29.jpg
Training/Pro/31.jpg
Training/Saransh/2.jpg
Training/Saransh/13.jpg
Training/Saransh/15.jpg
Training/Saransh/16.jpg
Training/Saransh/17.jpg
Training/Saransh/25.jpg
Training/Saransh/33.jpg
Training/Saransh/34.jpg
Training/Saransh/38.jpg
Training/Snehal/1.jpg
Training/Snehal/3.jpg
Training/Snehal/4.jpg
Training/Snehal/5.jpg
Training/Snehal/6.jpg
Training/Snehal/7.jpg
Training/Snehal/8.jpg
Training/Snehal/9.jpg
Training/Snehal/10.jpg
Training/Snehal/11.jpg
Training/Snehal/12.jpg
Training/Snehal/13.jpg
Training/Snehal/14.jpg
Training/Snehal/15.jpg
Training/Snehal/16.jpg
Training/Snehal/17.jpg
Training/Snehal/18.jpg
Training/Snehal/19.jpg
Training/Snehal/20.jpg
Training/Snehal/21.jpg
Training/Snehal/22.jpg
Training/Snehal/23.jpg
Training/Snehal/24.jpg
Training/Snehal/25.jpg
Training/Snehal/26.jpg
Training/Snehal/27.jpg
Training/Vikru/1.jpg
Training/Vikru/11.jpg
Training/Vikru/18.jpg
Training/Vikru/20.jpg
Training/Vikru/24.jpg
Training/Vikru/35.jpg
Training/Vikru/36.jpg
Training/Vikru/37.jpg
Training/Vikru/40.jpg
Training/Vikru/41.jpg
Training/Vikru/43.jpg
Completed/face_recognizer.py
Completed/face_recognizer.spec
Completed/icon.ico
Completed/__pycache__/face_recognizer.cpython-36.pyc
Completed/build/face_recognizer/Analysis-00.toc
Completed/build/face_recognizer/base_library.zip
Completed/build/face_recognizer/EXE-00.toc
Completed/build/face_recognizer/face_recognizer.exe.manifest
Completed/build/face_recognizer/PKG-00.pkg
Completed/build/face_recognizer/PKG-00.toc
Completed/build/face_recognizer/PYZ-00.pyz
Completed/build/face_recognizer/PYZ-00.toc
Completed/build/face_recognizer/Tree-00.toc
Completed/build/face_recognizer/Tree-01.toc
Completed/build/face_recognizer/warn-face_recognizer.txt
Completed/build/face_recognizer/xref-face_recognizer.html
Completed/dist/face_recognizer.exe
Completed/dist/labels.pkl
Completed/dist/model.pkl
Completed/face_recognition_models/__init__.py
Completed/face_recognition_models/__pycache__/__init__.cpython-36.pyc
Completed/face_recognition_models/models/dlib_face_recognition_resnet_model_v1.dat
Completed/face_recognition_models/models/mmod_human_face_detector.dat
Completed/face_recognition_models/models/shape_predictor_5_face_landmarks.dat
Completed/face_recognition_models/models/shape_predictor_68_face_landmarks.dat
feats.npy
icon.ico
labels.pkl
model.h5
model.pkl
original images.rar
res.npy
